/.idea/
/target/
/node_modules/
/dist/
/build/
/out/
/.vscode/
/.env
*.gitignore
*.env
*.env.local
.gitattributes
*.mvn
mvnw
*.mvnw.cmd
*.iml
*.ipr
*.iws
*.gradle
.gradle/
*.classpath
*.project
*.settings/


*.swp
*.swo
*.bak
*.tmp
*.old
*.orig
*.rej
*.pyc
*.iml
*.log
*.class
*.jar
*.war
*.ear
*.db
*.sqlite
*.DS_Store

/microservices/.idea/
/spring-boot-projects/.idea/
/java-projects/ecom-app-with-design-patterns/.idea/
/java-projects/java-concurrency/.idea/
/java-projects/java-date-time/.idea/
/java-projects/java-refresher/.idea/
/microservices/config-server/mvnw.cmd
/microservices/eureka-server/mvnw.cmd
/microservices/employee-service/mvnw.cmd
/microservices/gateway-service/mvnw.cmd
/microservices/api-gateway/mvnw.cmd
